ISS & CSS WorldMap Flow.json
[{"id":"9e9d2a92.fa7bd8","type":"tab","label":"ISS & CSS Tracker","disabled":false,"info":"N2yo Space Tracker"},{"id":"8ab4999a.25d0a8","type":"inject","z":"9e9d2a92.fa7bd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"32","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["a8532b79.4cd158","2a0cd101.7a65ae"]]},{"id":"a8532b79.4cd158","type":"http request","z":"9e9d2a92.fa7bd8","name":"N2YO REST API (ISS)","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":120,"wires":[["b3fc22ed.85f53"]]},{"id":"ade5105b.5b21","type":"worldmap","z":"9e9d2a92.fa7bd8","name":"N2yo Tracker","lat":"","lon":"","zoom":"4.5","layer":"Nat Geo","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","allowFileDrop":"true","path":"/worldmapN2yo","x":1050,"y":160,"wires":[]},{"id":"b3fc22ed.85f53","type":"function","z":"9e9d2a92.fa7bd8","name":"Detailed ISS Position","func":"var iss = \"International Space Station\";\nvar lat = msg.payload.positions[0].satlatitude;\nvar lon = msg.payload.positions[0].satlongitude;\nmsg.payload = { \n    \"name\":iss,\n    \"lat\" : lat,\n    \"lon\": lon,\n};\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["155c6728.3956b9"]]},{"id":"155c6728.3956b9","type":"function","z":"9e9d2a92.fa7bd8","name":"ISS Attributes","func":"var icon = \"iss\";\nmsg.payload = { \n    \"name\": msg.payload.name,\n    \"lat\": msg.payload.lat,\n    \"lon\":  msg.payload.lon,\n    \"icon\": icon,\n    \"iconColor\":\"#ebbe56\",\n};\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":120,"wires":[["225ecc38.6d7094","ade5105b.5b21"]]},{"id":"225ecc38.6d7094","type":"debug","z":"9e9d2a92.fa7bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":80,"wires":[]},{"id":"8800717e.7d835","type":"debug","z":"9e9d2a92.fa7bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":240,"wires":[]},{"id":"2a0cd101.7a65ae","type":"http request","z":"9e9d2a92.fa7bd8","name":"N2YO REST API (CSS)","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":200,"wires":[["11cc8f68.6f2f91"]]},{"id":"11cc8f68.6f2f91","type":"function","z":"9e9d2a92.fa7bd8","name":"Detailed CSS Position","func":"var css = \"Chinese Space Station\";\nvar lat = msg.payload.positions[0].satlatitude;\nvar lon = msg.payload.positions[0].satlongitude;\nmsg.payload = { \n    \"name\":css,\n    \"lat\" : lat,\n    \"lon\": lon,\n};\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":200,"wires":[["ca0eb5e3.d3de08"]]},{"id":"ca0eb5e3.d3de08","type":"function","z":"9e9d2a92.fa7bd8","name":"CSS Attributes","func":"var icon = \"iss\";\nmsg.payload = { \n    \"name\": msg.payload.name,\n    \"lat\": msg.payload.lat,\n    \"lon\":  msg.payload.lon,\n    \"icon\": icon, \n    \"iconColor\":\"red\",\n    \"color\":\"blue\",\n};\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":200,"wires":[["8800717e.7d835","ade5105b.5b21"]]}]